<h2>Daily Life</h2>

<div id="accordion4" class="accordion">

  <h3 class="accordion-toggle accordion-heading">What is a typical day’s schedule?</h3>
  <div class="accordion-inner faq-border">
    <p>To explore the typical daily life of an iX student, check out this “Day in the Life” video, which was made by talented iX alumna Sabra Meretab:</p>
    <div class='videowrapper'>
      <iframe width="100%" height="400" src="//www.youtube.com/embed/_7Eiy1i8iaU" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <h3 class="accordion-toggle accordion-heading">What is the accommodation like?</h3>
  <div class="accordion-inner faq-border">
    <p>You'll be staying at iXperience Lodging in the centre of Cape Town, surrounded by some of the city’s finest restaurants, attractions and shopping centres. The lodging is secure, comfortable and customized to your needs as an iX student, which means fast wifi and plenty of places to work and chill out.</p>
    <p class="b text-center margin-bottom">Here are some pics to give you a sense of what it looks like from the inside:</p>
    <div class="row margin-bottom image-size-control">
      <div class="col-sm-3">
        <%= image_tag 'faq/accom-1' %>
      </div>
      <div class="col-sm-3">
        <%= image_tag 'faq/accom-2' %>
      </div>
      <div class="col-sm-3">
        <%= image_tag 'faq/accom-3' %>
      </div>
      <div class="col-sm-3 margin-bottom">
        <%= image_tag 'faq/accom-4' %>
      </div>
    </div>
    <p class="b text-center margin-bottom">And here's a picture taken from a helicopter flying directly over the lodging to give you a sense of its location:</p>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <%= image_tag 'faq/greenpoint-fly-over' %>
      </div>
    </div>
  </div>
  <h3 class="accordion-toggle accordion-heading">Are meals included?</h3>
  <div class="accordion-inner faq-border">
    <p>Breakfast and coffee will be provided every morning, Monday to Friday. You will cover lunch and dinner as well as meals on the weekend.  But don’t stress! You’ll have a plethora of restaurant options available within walking distance of class and the student lodging, as well as access to a top notch kitchen if you would prefer to cook.</p>
  </div>
  <h3 class="accordion-toggle accordion-heading">What kind of food will I find in Cape Town?</h3>
  <div class="accordion-inner faq-border">
    <p>Absolutely everything—Cape Town is home to food from around the world and is famous for its gourmet restaurants and secret gems. You could eat at a different spot every day and still not have tried it all by the end of the summer!</p>
  </div>
  <h3 class="accordion-toggle accordion-heading">Do I need to use public transportation?</h3>
  <div class="accordion-inner faq-border">
    <p>No, you won’t need to use public transportation—the accommodation, classrooms, grocery stores, laundromat, and gym are all within a 5-minute walk from one another, and transportation for weekend excursions is arranged by iXperience. If you do decide to explore different areas of Cape Town during your free time,  Uber is the safest, cheapest and most convenient option.</p>
  </div>
  <h3 class="accordion-toggle accordion-heading">How safe is this program?</h3>
  <div class="accordion-inner faq-border">
    <p>iXperience is very safe—our primary focus is on your safety and wellbeing. We chose our current location because it is one of the most metropolitan areas of the city, which makes for a unique, modern and fun experience without compromising on safety at all. Additionally, iX staff members and student managers are on call 24 hours a day to assist students if necessary.</p>
  </div>
  <h3 class="accordion-toggle accordion-heading">Is there a gym I can use?</h3>
  <div class="accordion-inner faq-border">
    <p>There are two gyms within walking distance of iX Lodging, each with a monthly membership plan. Both are fully equipped with treadmills, weight machines, yoga studios, aerobics classes, saunas and more.</p>
  </div>
  <h3 class="accordion-toggle accordion-heading">How much spending money should I bring for the eight weeks I'll be in Cape Town?</h3>
  <div class="accordion-inner faq-border">
    <p>South Africa is relatively cheap for foreign visitors due to the strength of the US Dollar against the South African Rand (a large pizza is less than $7). Many of our 200+ alumni had a great time on a budget of as little as $1000-$1200 spread over the full two months they were in Cape Town. Remember, your only unavoidable expenses are meals not included in the program cost, and laundry.</p>
  </div>
</div>

