<h2>The Internship</h2>
<div id="accordion3" class="accordion">
	<h3 class="accordion-toggle accordion-heading">What will I be doing during my internship?</h3>
	<div class="accordion-inner faq-border">
		<p>During your four-week internship you will have the opportunity to apply your newly-learned skills in the real world.</p>
		<p>This not only provides an exciting opportunity to cement the concepts you will have been taught in class, but also gain work experience in an area that interests you. We give you exposure to dozens of high-profile companies, so you’re sure to find work that aligns with your abilities and interests.</p>
    <h3>Here's what the internships are like:</h3>
		<div class='videowrapper'>
			<iframe width="100%" height="400" src="https://www.youtube.com/embed/AwcVEY7dLj4" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	<h3 class="accordion-toggle accordion-heading">How do I get placed into an internship?</h3>
	<div class="accordion-inner faq-border">
		<p>During the the first four weeks of the program iXperience will host a Company Intern Information Night, during which we will present more information about each company and the kind of work you would do there. Each student then submits short applications for up to three companies at which they would like to intern. With the guidance of your professors and teaching assistants, our internship team places each student according to his or her skill set, interests and preferences. You will always be placed alongside at least one other iXperience student.</p>-
	</div>

	<h3 class="accordion-toggle accordion-heading">What companies does iXperience work with for the internship?</h3>
	<div class="accordion-inner faq-border">
		<p>Over the past two years, we've worked with some of the most influential local and international companies in Cape Town to offer immersive, hands-on internships. You can click on each logo below to find out more about some of our previous partners.</p>
		<div class="container margin-bottom">
			<div class="row faq-internship-logo-grid">
				<div class="col-sm-4 ">
					<%= link_to 'https://www.uber.com/cities/cape-town', target: 'blank' do %>
						<span class="vertical-align-helper"></span><%= image_tag 'logos/uber' %>
					<% end %>
				</div>
				<div class="col-sm-4">
          <%= link_to 'https://www.accenture.com/za-en', target: 'blank' do %>
					 <span class="vertical-align-helper"></span><%= image_tag 'logos/accenture' %>
          <% end %>
				</div>
				<div class="col-sm-4">
          <%= link_to 'http://www.getsmarter.co.za/', target: 'blank' do %>
					 <span class="vertical-align-helper"></span><%= image_tag 'logos/get-smarter' %>
           <% end %>
				</div>
			</div>
			<div class="row faq-internship-logo-grid">
        <div class="col-sm-4">
          <%= link_to 'http://mbvermeer.com/', target: 'blank' do %>
            <span class="vertical-align-helper"></span><%= image_tag 'logos/mb-vermeer' %>
          <% end %>
        </div>
        <div class="col-sm-4">
          <%= link_to 'http://www.magnetichq.com/', target: 'blank' do %>
           <span class="vertical-align-helper"></span><%= image_tag 'logos/magnetic' %>
          <% end %>
        </div>
        <div class="col-sm-4">
          <%= link_to 'http://silvertree-capital.com/', target: 'blank' do %>
           <span class="vertical-align-helper"></span><%= image_tag 'logos/silvertree' %>
           <% end %>
        </div>
      </div>
			<div class="row faq-internship-logo-grid">
        <div class="col-sm-4 ">
          <%= link_to 'https://www.22seven.com', target: 'blank' do %>
            <span class="vertical-align-helper"></span><%= image_tag 'logos/22seven' %>
          <% end %>
        </div>
        <div class="col-sm-4">
          <%= link_to 'http://www.wigroupinternational.com/', target: 'blank' do %>
           <span class="vertical-align-helper"></span><%= image_tag 'logos/wigroup' %>
          <% end %>
        </div>
        <div class="col-sm-4">
          <%= link_to 'http://www.nimblegroup.co.za/', target: 'blank' do %>
           <span class="vertical-align-helper"></span><%= image_tag 'logos/nimblegroup' %>
           <% end %>
        </div>
      </div>
      <div class="row faq-internship-logo-grid">
        <div class="col-sm-4 ">
          <%= link_to 'http://www.aria.co.za/', target: 'blank' do %>
            <span class="vertical-align-helper"></span><%= image_tag 'logos/aria-2' %>
          <% end %>
        </div>
        <div class="col-sm-4">
          <%= link_to 'https://prodigyfinance.com', target: 'blank' do %>
           <span class="vertical-align-helper"></span><%= image_tag 'logos/prodigy' %>
          <% end %>
        </div>
        <div class="col-sm-4">
          <%= link_to 'http://nomanini.com/', target: 'blank' do %>
           <span class="vertical-align-helper"></span><%= image_tag 'logos/nomanini' %>
           <% end %>
        </div>
      </div>
      <div class="row faq-internship-logo-grid">
        <div class="col-sm-4 ">
          <%= link_to 'http://www.quicket.co.za/', target: 'blank' do %>
            <span class="vertical-align-helper"></span><%= image_tag 'logos/quicket' %>
          <% end %>
        </div>
        <div class="col-sm-4">
          <%= link_to 'https://www.socialalpha.co.za', target: 'blank' do %>
           <span class="vertical-align-helper"></span><%= image_tag 'logos/socialalpha' %>
          <% end %>
        </div>
        <div class="col-sm-4">
          <%= link_to 'http://exploresideways.com/', target: 'blank' do %>
           <span class="vertical-align-helper"></span><%= image_tag 'logos/sideways' %>
           <% end %>
        </div>
      </div>
		</div>
		<p>(These are companies we've worked with in the past—our partners may change from year to year.)</p>
	</div>
	
	<h3 class="accordion-toggle accordion-heading">How will I get to work each day?</h3>
	<div class="accordion-inner faq-border">
		<p>Because iXperience Lodging is centrally located, most of our partner companies are a 10-15 minute walk from your accommodation. For the handful that are a little further away, iX will arrange and pay for your transportation. This will be handled exclusively through Uber For Business accounts, meaning safe and convenient transport each day.</p>
	</div>

	<h3 class="accordion-toggle accordion-heading">Is the internship paid?</h3>
	<div class="accordion-inner faq-border">
		<p>Due to visa restrictions and the nature of our partnership agreements, the internships are unpaid.</p>
	</div>

  <!-- <h3 class="accordion-toggle accordion-heading hidden-xs">What projects can I expect to be working on during my internship?</h3>
  <div class="accordion-inner faq-border hidden-xs">
    <p>Let's just say you won't be making coffee all day. The internship is an integral part of the program where you apply what you've learned in a working environment with real impact and consequences.</p>
    <p>We spend a great deal of time setting up each course-specific project with clear deliverables and milestones – <b>here's some of what our students have worked:</p>
    <div class="row margin-top">
     <div class="col-md-4 faq-internship-project-media margin-top">
      <span class="vertical-align-helper"></span><%= image_tag "internship/working-at-uber" %>
     </div>
     <div class="col-md-8">
        <h6>James Smith – worked with Uber after iX Consulting</h6>
        <hr />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec aliquet nisi, ac dictum massa. In id tincidunt justo, eu laoreet tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate nulla ac ipsum posuere laoreet. Donec vitae tempus felis. Sed a finibus enim. Nam vestibulum sagittis arcu a tristique.</p>
     </div>
    </div>
    <div class="row margin-top margin-bottom">
     <div class="col-md-4 faq-internship-project-media margin-top">
      <span class="vertical-align-helper"></span><%= image_tag "internship/working-at-uber" %>
     </div>
     <div class="col-md-8">
        <h6>James Smith – worked with Uber after iX Consulting</h6>
        <hr />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec aliquet nisi, ac dictum massa. In id tincidunt justo, eu laoreet tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate nulla ac ipsum posuere laoreet. Donec vitae tempus felis. Sed a finibus enim. Nam vestibulum sagittis arcu a tristique.</p>
     </div>
    </div>
    <div class="row margin-top margin-bottom">
     <div class="col-md-4 faq-internship-project-media margin-top">
      <span class="vertical-align-helper"></span><%= image_tag "internship/working-at-uber" %>
     </div>
     <div class="col-md-8">
        <h6>James Smith – worked with Uber after iX Consulting</h6>
        <hr />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nec aliquet nisi, ac dictum massa. In id tincidunt justo, eu laoreet tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vulputate nulla ac ipsum posuere laoreet. Donec vitae tempus felis. Sed a finibus enim. Nam vestibulum sagittis arcu a tristique.</p>
     </div>
    </div>
  </div> -->

</div>