 <div class="row margin-bottom">
    <div class="col-sm-3 bordered-cell curriculum-cell">
      <h5 class="b">HTML and CSS</h5>
      <%= image_tag 'skills/html', class: 'sized-img' %>
      <p>
        Core skills to the world of web development which you will master by the end of this program.
      </p>
    </div>
    <div class="col-sm-3 bordered-cell curriculum-cell">
      <h5 class="b">Javascript and JQuery</h5>
      <%= image_tag 'skills/javascript', class: 'sized-img' %>
      <p>
        Bring the web to life with jQuery-powered interactions and an understanding of the core of JavaScript.
      </p>
    </div>
    
    <div class="col-sm-3 bordered-cell curriculum-cell">
      <h5 class="b">AngularJS</h5>
      <%= image_tag 'skills/angularjs', class: 'sized-img' %>
      <p>Learn the most popular and versatile Javascript framework.</p>
    </div>

    <!-- <div class="col-sm-3 bordered-cell curriculum-cell">
      <h5 class="b">Ruby on Rails</h5>
      <%= image_tag 'skills/rails', class: 'sized-img' %>
      <p>Learn one of the best ways to build modern, database-backed web applications </p>
    </div> -->
    
    <div class="col-sm-3 bordered-cell curriculum-cell">
      <h5 class="b">Databases</h5>
      <%= image_tag 'skills/database', class: 'sized-img' %>
      <p>Relational or Document Store? MySQL or Postgres? Mongo or Redis? Learning the fundamentals to data storage is a must.</p>
    </div>
    <div class="col-sm-3 bordered-cell curriculum-cell">
      <h5 class="b">Agile Development</h5>
      <%= image_tag 'skills/agile', class: 'sized-img' %>
      <p>An essential working philosophy. You'll learn to develop and iterate on your projects by keeping a close eye on costs and value.</p>
    </div>
    
    <div class="col-sm-3 bordered-cell curriculum-cell">
      <h5 class="b">Product Management</h5>
      <%= image_tag 'skills/product-management', class: 'sized-img' %>
      <p>PM lies at the intersection of business, design and technology. Gauge whether a product is viable from a business perspective.</p>
    </div>
    
    <div class="col-sm-3 bordered-cell curriculum-cell">
      <h5 class="b">Git - Source Control</h5>
      <%= image_tag 'skills/git', class: 'sized-img' %>
      <p>Learn to manage your code versions and collaborate on projects with other programmers. </p>
    </div>
    
    <div class="col-sm-3 bordered-cell curriculum-cell">
      <h5 class="b">Work Experience</h5>
      <%= image_tag 'skills/work-experience', class: 'sized-img' %>
      <p>Be prepared for the real world and gain real skills: your one-month internship will give you exactly that.</p>
    </div>

  <%= render "partials/curriculum_download", course: "Web Development" %>
</div>