<div class="row margin-bottom">
  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Python and R</h5>
    <%= image_tag 'skills/python', class: 'sized-img small-margin' %>
    <p>
      The essential languages for mining, analyzing, and presenting.
    </p>
  </div>
  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Probability and Stats</h5>
    <%= image_tag 'skills/stats', class: 'sized-img small-margin' %>
    <p>
      The likelihood that you'll need stats to be a top data scientist? The same as the chances you'll own this material by summer's end.
    </p>
  </div>
  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Data Analysis</h5>
    <%= image_tag 'skills/analysis', class: 'sized-img small-margin' %>
    <p>
      Gain deep insights into what your data <em>means</em>, not just what it represents. 
    </p>
  </div>
  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Data Mining</h5>
    <%= image_tag 'skills/mining', class: 'sized-img small-margin' %>
    <p>
      Uncover the secrets lying in plain sight in massive datasets. Discover patterns, and create compelling presentations for diverse audiences.
    </p>
  </div>
  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Machine Learning</h5>
    <%= image_tag 'skills/machine-learning', class: 'sized-img small-margin' %>
    <p>
      Identify patterns and take the first steps toward implementing Artificial Intelligence.
    </p>
  </div>
  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Visualization</h5>
    <%= image_tag 'skills/visualization', class: 'sized-img small-margin' %>
    <p>
      Numbers are almost worthless unless we, as humans, can make sense of them visually. Data scientists are artists, too.
    </p>
  </div>
  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">APIs / Web Scraping</h5>
    <%= image_tag 'skills/html', class: 'sized-img small-margin' %>
    <p>
      Learn to go out into the world wide web and catch yourself some respectable data.
    </p>
  </div>
  <div class="col-sm-3 bordered-cell curriculum-cell hidden-xs">
    <h5 class="b">Work Experience</h5>
    <%= image_tag 'skills/work-experience', class: 'sized-img small-margin' %>
    <p>Applying what you've learned is where you will gain a real competitive edge. Your one-month internship will give you exactly that.</p>
  </div>
</div>

<%= render "partials/curriculum_download", course: "Data Science" %>