<div class="row margin-bottom">
  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Financial Statements</h5>
    <%= image_tag 'skills/financial-statements', class: 'sized-img small-margin' %>
    <p>
      Core fundamental skills to the world of finance which you will master by the end of this program.
    </p>
  </div>
  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Business Models</h5>
    <%= image_tag 'skills/business-models', class: 'sized-img small-margin' %>
    <p>
      Emphasis on the three critical elements (momentum, efficiency and cash conversion) applied to the 4 major company types.
    </p>
  </div>

  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Excel Excellence</h5>
    <%= image_tag 'skills/excel', class: 'sized-img small-margin' %>
    <p>
      Must know elements for excel, including arrays, reference functions, condititional formulas and others.
    </p>
  </div>

  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Financial Modeling</h5>
    <%= image_tag 'skills/dollar', class: 'sized-img small-margin' %>
    <p>
      Analyses of companies such as Chipotle (B2C-retail), Netflix (B2C-subscription), Facebook (B2CB), Salesforce (B2B) and AirBnB (2SM).
    </p>
  </div>
  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Valuation Analysis</h5>
    <%= image_tag 'skills/valuation', class: 'sized-img small-margin' %>
    <p>
      One of the core duties of an investor, as valuations are typically the most important long term drivers of asset prices.
    </p>
  </div>

  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Applied Learnings</h5>
    <%= image_tag 'skills/applied-learnings', class: 'sized-img small-margin' %>
    <p>
      Students pitch their best investment ideas, supported by financial models and valuation analyses.
    </p>
  </div>

  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Resume Workshops</h5>
    <%= image_tag 'skills/resume', class: 'sized-img small-margin' %>
    <p>Build an impressive resume through hands on workshops and ongoing support after you graduate from iXperience.</p>
  </div>

  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Work Experience</h5>
    <%= image_tag 'skills/work-experience', class: 'sized-img small-margin' %>
    <p>Applying what you've learned is where you will gain a real competitive edge. Your one-month internship will give you exactly that.</p>
  </div>
</div>

<%= render "partials/curriculum_download", course: "Wall St. Finance" %>