<div class="row margin-bottom">
  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Phases of a Product</h5>
    <%= image_tag 'skills/phases-of-product', class: 'sized-img' %>
    <p>
      Development cycles in different environments: established products, new ideas as an entrepreneur, new ideas as an employee.
    </p>
  </div>
  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Business Model Canvas</h5>
    <%= image_tag 'skills/business-models', class: 'sized-img' %>
    <p>
      Unit economics, business metrics, market research, gross margin, forecasting, strategy, pricing... All essential. All made easy.
    </p>
  </div>

  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Rapid Prototyping </h5>
    <%= image_tag 'skills/rapid-prototyping', class: 'sized-img' %>
    <p>
      Prototyping, sketching, and wireframing are at the core of experimentation and effective brainstorming.
    </p>
  </div>

  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Product Roadmapping</h5>
    <%= image_tag 'skills/roadmapping', class: 'sized-img' %>
    <p>
      A powerful tool to describe how a product is likely to grow, to align stakeholders, and to acquire a budget for the product.
    </p>
  </div>

  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">The Full Tech Stack</h5>
    <%= image_tag 'skills/tech-stack', class: 'sized-img' %>
    <p>
      Effective PMs have a thorough technical understanding. Think front-end, back-end, and how it fits together.
    </p>
  </div>

  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Agile Development</h5>
    <%= image_tag 'skills/agile', class: 'sized-img' %>
    <p>
      Master stand-ups, scrum, retrospectives, and backlog grooming—standard practice for any good PM.
    </p>
  </div>

  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Product Reviews</h5>
    <%= image_tag 'skills/product-review', class: 'sized-img' %>
    <p>
      Successful products are always built through iteration. UX critiques and A/B tests are key tools of the trade.
    </p>
  </div>

  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Work Experience</h5>
    <%= image_tag 'skills/work-experience', class: 'sized-img' %>
    <p>
      Working on real cases during your one month internship will give you a huge competitive edge.
    </p>
  </div>
</div>
<%= render "partials/curriculum_download", course: "Product Management" %>