<div class="row margin-bottom">
  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">UX Theory</h5>
    <%= image_tag 'skills/ux-theory', class: 'sized-img small-margin' %>
    <p>
      What UX design is, why it’s important. The fundamentals.
    </p>
  </div>
  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Design Thinking</h5>
    <%= image_tag 'skills/design-thinking', class: 'sized-img small-margin' %>
    <p>
      Design is fundamentally about solving complex problems. We’ll teach you to think like a solutionist.
    </p>
  </div>
  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Design Principles</h5>
    <%= image_tag 'skills/design-principles', class: 'sized-img small-margin' %>
    <p>
      From color, fonts, and balance, to positioning, texture, information hierarchy and more.
    </p>
  </div>
  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">User Psychology</h5>
    <%= image_tag 'skills/user-psychology', class: 'sized-img small-margin' %>
    <p>
      A deep look at why people behave the way they do, with a focus on the web.
    </p>
  </div>
  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Human-centered Design</h5>
    <%= image_tag 'skills/human-centered', class: 'sized-img small-margin' %>
    <p>
      How to focus on people—not users—first. The way people think, what they want, and how to design for them.
    </p>
  </div>
  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Prototyping / Mocking</h5>
    <%= image_tag 'skills/mocking', class: 'sized-img small-margin' %>
    <p>
      From your mind's eye to screen: show others—and yourself—your ideas. At breakneck speed. 
    </p>
  </div>
  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Usability Testing</h5>
    <%= image_tag 'skills/testing', class: 'sized-img small-margin' %>
    <p>
      Your products are useless unless they're actually usable. Make sure people love what you make. 
    </p>
  </div>
  <div class="col-sm-3 bordered-cell curriculum-cell">
    <h5 class="b">Work Experience</h5>
    <%= image_tag 'skills/work-experience', class: 'sized-img small-margin' %>
    <p>Applying what you've learned is where you will gain a real competitive edge. Your one-month internship will give you exactly that.</p>
  </div>
</div>

<%= render "partials/curriculum_download", course: "UX Design" %>