<!-- Home -->
<section class="most-height bg-fixed bg-gradient bg-ux-design-main">
  <div class="bg-overlay"></div>
  <div class="main-headline text-right container">
    <h2>Passionate people</h2>
    <h5>Aligned values,</h5>
    <h5>Clear principles,</h5>
    <h5>Common goals.</h5>
  </div>
</section>

<section class="text-left padded">
  <div class="container">
    <div class="row margin-bottom text-center">
      <div class="col-sm-10 col-sm-offset-1 waypoint-1">
        <h2>Our founders</h2>
      </div>
    </div>
    <div class="row margin-bottom hidden-element-1">
      <div class="col-md-4 col-sm-3 text-center">
       <%= image_tag 'people/aaron-fuchs', class: 'about-team-directors' %>
      </div>
      <div class="col-md-7 col-sm-8">
        <h5><b>AARON FUCHS</b> – Founder &amp; CEO</h5>
        <p>
          After completing a BSc in Mechanical Engineering at Yale, Aaron spent 2 years working at SAC Capital on Wall Street. He found his passion lay in technology and education and moved back to South Africa where he then founded iX. He's most satisfied when seeing the life-changing effect iX has on the businesses in which it invests. 
        </p>
      </div>
    </div>
    <div class="row hidden-element-1">
      <div class="col-md-4 col-sm-3 text-center">
        <%= image_tag 'people/darren-kramer', class: 'about-team-directors' %>
      </div>
      <div class="col-md-7 col-sm-8">
        <h5><b>DARREN KRAMER</b> – Founder &amp; CFO</h5>
        <p>
          An energetic math-whiz, Darren is a self-made venture capitalist who started out as a professional poker player. Now he invests in and grows companies creating meaningful social impact in South Africa and abroad. 
        </p>
      </div>
    </div>
  </div>
</section>

<!-- <section class="text-center padded bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 waypoint-2">
        <h2>Our advisors</h2>
      </div>
    </div>
    <div class="row margin-bottom hidden-element-2">
      <div class="col-sm-4 col-xs-6">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <%= image_tag 'http://placehold.it/350x350', class: 'about-team-photos' %>
            <h5>
              <b>Name</b>
              <br>
              Job <br class="visible-xs">&amp; title
            </h5>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-6">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <%= image_tag 'http://placehold.it/350x350', class: 'about-team-photos' %>
            <h5>
              <b>Name</b>
              <br>
              Job <br class="visible-xs">title
            </h5>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-6">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <%= image_tag 'http://placehold.it/350x350', class: 'about-team-photos' %>
            <h5>
              <b>Name</b>
              <br>
              Job <br class="visible-xs">title
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 -->