<div class="bg-colored text-center">
  <div class="container pad-top pad-bottom">
    <div class="row">
      <div class="col-sm-12">
        <h2>Meet our family.</h2>
        <h4>They'd love to grab a coffee—shoot them an email!</h4>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <!--  sidebar  -->
    <div class="col-sm-3 alumni-sidebar">
      <h4 class="sidebar-header">Course</h4>
      <% @alumni_data[:courses].each do |name, count| %>
        <div class="sidebar-element">
          <%= check_box_tag :course, nil, false, data: {type: 'course', target: name } %>
          <%= "#{name.humanize} (#{count})" %>
        </div>
      <% end %>
      <h4 class="sidebar-header">College</h4>
      <% @alumni_data[:colleges].sort.each do |name, count| %>
        <div class="sidebar-element">
          <%= check_box_tag :college, nil, false, data: {type: 'college', target: name } %>
          <%= "#{name.humanize.titlecase || "None"} (#{count})" %>
        </div>
      <% end %>
    </div>
    <!--  alumni-content  -->  
    <div class="col-sm-9 alumni-content">
      <div id="alumni-grid" class="isotope ">
        <% @alumni.each do |a| %>
        <a class="box isotope-item <%= "course_#{a.course} college_#{a.college}  major_#{a.major}" %>" data-toggle="modal" data-target="#alumni-focus-modal" data-name="<%= a.first_name %>" data-email="<%= a.email %>" data-quote="<%= a.quote %>" data-picture-url="<%= a.picture.url(:medium) %>" data-year="<%= a.year %>">
          <div class="cell-top"></div>
          <div class="alumni-thumb circle">
            <img alt="" class="lazy" data-original="<%= a.picture.url(:medium) %>">
          </div>
          <div class="alumni-info">
            <p><%= a.first_name %> <%= a.last_name %><p>
            <div class="alumni-college">
              <p><%= a.college.humanize.titlecase %> <p>        
            </div>
          </div> 
        </a>
        <% end %>  
      </div>
    </div>
  </div>
</div>

<!-- Background Image -->
<section class="text-center most-height bg-fixed bg-faq-mid" >
  <div class="bg-overlay"></div>
  <div class="image-quote-container">
    <div class="image-quote">
      <div class="quote">I dove off the <span class="emphasis">deep end</span>  into the new world I've been wanting to enter forever. </div>
      <p class="author">Vikram Rajagopalan, iX 2014</p>
    </div>
  </div>
</section>
<!-- Modal -->
<div class="modal fade" id="alumni-focus-modal" tabindex="-1" role="dialog" aria-labelledby="alumniFocusModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">
          Meet <span class="alumni-focus-modal-name"></span>,
          iX <span class="alumni-focus-modal-year"></span>
        </h3>
      </div>
      <div class="modal-body">
        <img src="" alt="" class="alumni-focus-modal-img">
        <p class="big margin-bottom alumni-focus-modal-quote"></p>
        <p class="margin-bottom">
          Reach out to <span class="alumni-focus-modal-name"></span> at 
          <b class="emphasis alumni-focus-modal-email"></b>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info hidden-xs" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info pull-left visible-xs" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%= render "partials/apply" %>