<!-- Home -->
<section class="bg-fixed bg-home-main full-height">
  <a class="anchor" id="home"></a>
  <div class="bg-overlay"></div>
  <div class="bg-overlay light visible-xs"></div>
  <div class="main-headline text-right container">
    <h1>Learning. Reimagined.</h1>
    <h4>8 weeks in Cape Town this summer.</h4>
    <h4>Unparalleled education.</h4>
    <h4>An epic internship.</h4>
  </div>
  <a class="scroll-link down-arrow" href="#about">
    <%= image_tag 'icons/down-arrow-thin', class: 'down-arrow-icon' %>
  </a>
</section>
<section class="text-center padded bg-white">
  <a class="anchor" id="about"></a>
  <div class="container">      
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 margin-bottom">
        <h2>The perfect summer abroad.</h2>
        <h4 class="hidden-xs">
          iXperience is the only program that embodies the optimal summer abroad.  You'll take <b>immersive classes on high-demand skills</b> that aren't often taught well—or at all—at university. Then, you'll <b>drive real-world impact at an internship with a local company</b>. <br>
          All this, while discovering the most beautiful city in the world. 
        </h4>
        <h4 class="visible-xs margin-bottom">
          Take <b>intense, immersive classes</b> on high-demand skills.
          Drive real-world impact with an <b>internship</b> at a local company. Discover the world's most beautiful city. 
        </h4>
      </div>
      <div class="col-sm-12 margin-bottom hidden-xs" style="display: relative;">
        <br>
        <h2>Blow your mind.</h2>
        <h4>Glimpse into the iX lifestyle.</h4>
      </div>
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <a href='https://www.youtube.com/embed/yVPmL8wwiXM?autoplay=1&autohide=1&border=0&egm=0&showinfo=0' data-type="iframe" data-options="width: 1920, height: 1080" id="ilightbox">
          <div class="home-video-thumbnail">
            <div class="bg-overlay"></div>
            <%= image_tag 'icons/play-button', class: 'play-button' %>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="text-center padded">
  <div class="container waypoint-1">
    <div class="row">
      <h2>
        Three birds.
        <br class="visible-xs">
        One stone.
      </h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 hidden-element-1">
        <div class="pillar">
          <div class="impact-text-container">
            <div class="bg-overlay"></div>
            <%= image_tag 'home/pillar-learn' %>
            <div class="text">LEARN</div>
          </div>
          <div class="pillar-inner">
            <p class="hidden-xs margin-bottom">iX is far from a typical classroom. We’re more of an <b>intense 4-week workshop</b>. The best way to learn is by working together and getting your hands dirty. 
            </p>
            <dl>
              <dt>The daily ritual:</dt>
              <dd>Expert instruction</dd>
              <dd>Collaborative learning</dd>
              <dd>Practice, practice, practice</dd>
            </dl>
            <!-- <p>
              <a href="/impact">
                <span class="b btn btn-success">Peek into our classrooms</span>
              </a>
            </p> -->
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 hidden-element-1">
        <div class="pillar">
          <div class="impact-text-container">
            <div class="bg-overlay"></div>
            <%= image_tag 'home/pillar-impact' %>
            <div class="text">INTERN</div>
          </div>
          <div class="pillar-inner">
            <p class="hidden-xs margin-bottom">
              We believe that learning should drive real-world impact. After our course, you’ll <b>dive into a 4-week internship</b> with influential companies in Cape Town. 
            </p>
            <dl>
              <dt>We've worked with:</dt>
              <dd>Uber</dd>
              <dd>Groupon</dd>
              <dd>Accenture</dd>
            </dl>
            <!-- <p>
              <a href="/impact">
                <span class="b btn btn-success">More about impact at iX</span>
              </a>
            </p> -->
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 hidden-element-1">
        <div class="pillar">
          <div class="impact-text-container">
            <div class="bg-overlay"></div>
            <%= image_tag 'home/pillar-explore' %>
            <div class="text">EXPLORE</div>
          </div>
          <div class="pillar-inner">
            <p class="hidden-xs margin-bottom">
              At heart, we’re adventurers and community members. You’ll be <b>pushed to discover new things daily</b>: in your surroundings, your scholarship, yourself. 
            </p>
            <dl>
              <dt>After class:</dt>
              <dd>Be active: surf, hike, dive, fly</dd>
              <dd>Discover Cape Town's secrets</dd>
              <dd>Experience the local lifestyle</dd>
            </dl>
            <!-- <p>
              <a href="/impact">
                <span class="b btn btn-success" >Discover Cape Town</span>
              </a>
            </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-center bg-white padded waypoint-2 hidden-element-2">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Why iXperience.</h2>
        <h4>There's nothing quite like it.</h4>
      </div>
    </div> 
    <div class="row margin-bottom">
      <div class="why-ix-img">
        <%= image_tag 'people/robert-krabek' %>
      </div>
      <div class="why-ix-quote bg-light-gray text-left no-min-height">
        <p class="bigger">
          <em>
            "iX was a model learning experience striking the perfect balance between work and play, <b>maximizing learning while preventing burnout</b>. I met incredible people and made lifelong friends while working alongside some truly brilliant minds."
          </em>
        </p>
        <p>- Robert Krabek, Harvard 2015, iX 2015</p>
      </div>
    </div>
    <div class="row hidden-xs">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="rounded">
          <p class="big margin-bottom">
            <b>Our alumni are on over 40 campuses across the world</b>.
            <br>
            They'd love to share their experiences with you.
          </p>
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
              <a href="/alumni">
                <p class="big btn btn-primary btn-lg full-width">
                  Meet one for a coffee at school
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-center padded hidden-xs waypoint-3 hidden-element-3"> 
  <div class="container">     
    <div class="row margin-bottom">
      <!-- Start typical day row 1 -->
      <h2>
        Hard work.
        <br class="visible-xs">
        Hard play.
      </h2>
      <h4>Maximize every minute.</h4>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-2">
        <%= image_tag 'home/clock-8am', class: 'clock' %>
        <h5>8 AM</h5>
        <p>Hit the gym, or take a vitalizing hike up Lion’s Head.</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <%= image_tag 'home/clock-10am', class: 'clock' %>
        <h5>10 AM</h5>
        <p>Class begins: Expert instruction by an industry-leading teacher</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <%= image_tag 'home/clock-12pm', class: 'clock' %>
        <h5>12 PM</h5>
        <p>A delectable lunch at Cape Town's hottest burger joint: Clarke's.</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <%= image_tag 'home/clock-3pm', class: 'clock' %>
        <h5>3 PM</h5>
        <p>Dive into today's group project—translate your learning into a product.</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <%= image_tag 'home/clock-6pm', class: 'clock' %>
        <h5>6 PM</h5>
        <p>Class over. Just in time to make happy hour at the beach.</p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-2">
        <%= image_tag 'home/clock-10pm', class: 'clock' %>
        <h5>10 PM</h5>
        <p>Late-night work session—effort in translates to value out.</p>
      </div>
    </div>
  </div>
</section>

<section class="text-center padded bg-white waypoint-4 hidden-element-4">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-sm-12">
        <h2>Explore a new world.</h2>
        <h4>
          <div style="display:none" id="hover-instruction">
            <strong>Try hovering over each picture.</strong>
          </div>
          There's so much to be uncovered!
        </h4>
      </div>
    </div>
     
    <% excursion_names_captions = {  
      "paragliding" => "<strong>Paraglide</strong> over Cape Town", 
      "safari" => "<strong>Safari</strong> with African wildlife", 
      "hiking" => "<strong>Hike</strong> famous mountains",
      "surfing" => "<strong>Surf</strong> at world-renowned beaches",
      "shark" => "<strong>Dive</strong> with 20-foot great white sharks",
      "culture" => "<strong>Immerse</strong> yourself in a diverse culture" 
    } %>
     
    <% excursion_names_captions.each_with_index do |(excursion, caption), index| %> 
      <% if index == 0 || index == 3 %>
        <div class="row margin-bottom">
      <% end %>
      <div class="col-sm-4 margin-bottom">
        <video class="hover-play-video" preload='none' loop poster="<%= asset_url "activities/#{excursion}.jpg" %>">
          <source src="https://s3.amazonaws.com/ixassets/videos/<%= excursion %>.mp4" type="video/mp4">
            Unfortunately, your browser can't play our epic videos. Try upgrading to the latest version or using Google Chrome.
        </video>
        <%= image_tag (asset_url "activities/#{excursion}.jpg"), class: "excursion-still-image", style: "display: none" %>
        <div class="excursion-description">
          <p class='big b'><%= caption.html_safe %></p>
        </div>
      </div>
      <% if index == 2 || index == 5 %>
        </div>
      <% end %>
    <% end %>
  </div>
</section>

<section class="text-center most-height bg-fixed bg-home-mid">
  <div class="bg-overlay"></div>
  <div class="image-quote-container">
    <div class="image-quote">
      <h4 class="quote">The magic of iXperience is so powerful that it could <span class="emphasis">create successful developers, consultants, bankers, or even astronauts</span> if that’s who its students wanted to be.</h4>
      <p class="author">Cameron Cross, UVa 2016, iX 2014</p>
    </div>
  </div>
</section> 

<%= render "partials/choose_course" %>

<%= render "partials/tuition", course_data: @course_data,
  asterisk_text: "Sessions vary by course" %>

<%= render "partials/apply" %>