  <section class="most-height bg-fixed bg-consulting-main">
    <div class="bg-overlay"></div>
    <div class="bg-overlay"></div>
    <div class="main-headline text-right container">
      <h2>The first question we ask.</h2>
      <h4>If this company becomes successful,</h4>
      <h4>will it make the world a better,</h4>
      <h4>more interesting place.</h4>
    </div>
  </section>
<section class="text-center padded bg-white">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-sm-12 waypoint-1">
        <h2>Investment Eligibility</h2>
        <h4>The things you need to have in place before applying</h4>
      </div>
    </div>
    <div class="row margin-bottom hidden-element-1">
      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Business</h5>
        <%= image_tag 'investment-process/business', class: 'sized-img' %>
        <p>
          Business models with potential for rapid growth in revenue,  profitability and scale. High margin, low overhead models are preferred.
        </p>
      </div>
      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Market</h5>
        <%= image_tag 'investment-process/market', class: 'sized-img' %>
        <p>
          Traction, or provable interest from a large group of consumers. The target market should show growth potential.
        </p>
      </div>
      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Product</h5>
        <%= image_tag 'investment-process/product', class: 'sized-img' %>
        <p>
          A well thought-out, unique, and impressive product. High tech, low tech or a service.
        </p>
      </div>
      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">People</h5>
        <%= image_tag 'investment-process/team', class: 'sized-img' %>
        <p>
          Founders with the passion, skill and a maniacal focus on delivering value. A team able to execute quickly and effeciently.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="text-center bg-fixed bg-coding-web-dev-mid most-height">
  <div class="bg-overlay"></div>
  <div class="image-quote-container">
    <div class="image-quote">
      <h4 class="quote">Don't be in a rush to <span class="emphasis">get big</span>. Be in a rush to have a <span class="emphasis">great product</span>.</h4>
    </div>
  </div>
</section>  
<section class="text-center padded bg-white">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-sm-12 waypoint-2">
        <h2>Invest Process</h2>
        <h4>How we work with companies</h4>
      </div>
    </div>
    <div class="row margin-bottom hidden-element-2">
      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Apply</h5>
        <%= image_tag 'investment-process/apply', class: 'sized-img' %>
        <p>
          Tell us a bit more about your idea, your team and your progress. Our team reviews every application within 3 business days.
        </p>
      </div>
      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Introductory meeting</h5>
        <%= image_tag 'investment-process/business-models', class: 'sized-img' %>
        <p>
          When considering a new opportunity, we spend time getting to know the founders. We view each product as an extension of the founder and of his or her vision.
        </p>
      </div>

      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Business evaluation</h5>
        <%= image_tag 'investment-process/roadmapping', class: 'sized-img' %>
        <p>
          A more detailed look at business models, market sizing, and growth potential.
        </p>
      </div>

      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Investment</h5>
        <%= image_tag 'investment-process/investment', class: 'sized-img' %>
        <p>
          The start of the journey to business success. 
        </p>
      </div>
    </div>
  </div>
</section>