<section class="most-height bg-fixed bg-gradient bg-pricing-main">
  <div class="bg-overlay"></div>
  <div class="bg-overlay"></div>
  <div class="main-headline text-center container">
    <h1>Unparalleled value.</h1>
    <h3>World-class education.</h3>
    <h3>Epic excursions and housing.</h3>
    <h3>An investment in your future self.</h3>
  </div>
</section>

<section class="text-center padded">
  <div class="container">
    <h2>
      No other program offers as much.
    </h2>
    <div class="row waypoint-1">
      <div class="col-sm-6 col-md-4 hidden-element-1 margin-bottom">
        <div class="pillar">
          <div class="pillar-inner">
            <h4>EXPLORER</h4>
            <h6>COURSE ONLY<br>4 weeks</h6>
            <hr>
            <h2 class="emphasis">$6,500</h2>
            <dl class="text-left">
              <dt>Your <span class="emphasis">journey</span> includes:</dt>
              <dd>1 immersive, hands-on course</dd>
              <dd>160+ hours of expert instruction</dd>
              <dd>4 amazing excursions like shark cage diving, surf lessons, hiking famous mountains, wine-tasting...</dd>
              <dd>Lifetime access to the iXperience alumni network</dd>
              <dd>4 weeks of weekday breakfast</dd>
              <dd>4 weeks of safe, trendy housing</dd>
              <dd>Comprehensive healthcare coverage during your stay with <%= link_to "Discovery Health", "https://www.discovery.co.za/portal/individual/360-plan", target: "blank" %></dd>
              <dd>Cultural events</dd>
              <dd>Airport pickup and dropoff
                <br>
                <small>(flights not included)</small>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 hidden-element-1 margin-bottom">
        <div class="pillar highlight" style="margin-top: -10px;">
          <div class="pillar-inner">
            <h4>ADVENTURER</h4>
            <h6>COURSE + INTERNSHIP<br>8 weeks</h6>
            <hr>
            <h2 class="emphasis">$8,500</h2>
            <dl class="text-left">
              <dt>Your <span class="b emphasis">adventure</span> includes:</dt>
              <dd class="big"><b>Everything in Explorer and...</b></dd>
              <dd><span class="b emphasis">4 more weeks</span> of safe, trendy housing</dd>
              <dd><span class="b emphasis">4 more weeks</span> of weekday breakfast</dd>
              <dd>A 4-week internship honing your new skills at a prestigious company in Cape Town</dd>
              <dd>Real-world experience collaborating with industry professionals in a work environment</dd>
              <dd>Personalized career coaching</dd>
              <dd>LinkedIn and resume review</dd>
              <dd>Transport to and from internship</dd>
            </dl>
            <p class="margin-top">* Our most popular option</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 hidden-element-1 margin-bottom">
        <div class="pillar">
          <div class="pillar-inner">
            <h4>CONQUERER</h4>
            <h6>2 COURSES + INTERNSHIP<br>12 weeks</h6>
            <hr>
            <h2 class="emphasis">$11,500</h2>
            <dl class="text-left">
              <dt>Your <span class="emphasis">conquest</span> includes:</dt>
              <dd><b>Everything in Adventurer and...</b></dd>
              <dd><span class="b emphasis">160+ more hours</span> of expert instruction</dd>
              <dd><span class="b emphasis">4 more weeks</span> of safe, trendy housing</dd>
              <dd><span class="b emphasis">4 more weeks</span> of weekday breakfast</dd>
              <dd>True immersion in a foreign environment</dd>
              <dd>
                <i class="fa fa-star" style="color: #ECE81C"></i>
                <b>Lifetime</b> free return courses at iXperience
              </dd>
            </dl>
            <p class="margin-top">
              *Email hello@ixperience.co.za 
              <br>
              if you are interested in this option
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-center padded bg-white waypoint-2">
  <div class="container">
    <div class="row hidden-element-2 margin-bottom">
      <div class="why-ix-img">
        <%= image_tag 'people/sarah-schachman' %>
      </div>
      <div class="why-ix-quote text-left no-min-height">
        <p class="bigger">
          <em>
            "iX is incredible value for money! Other programs, which only provide classes in the fees, cost twice as much. <span class="emphasis">This included lodging, lessons, breakfast, internship, outings</span>...I could not believe how much we got for the money."
          </em>
        </p>
        <p>- Sarah Schachman, Harvard 2016, iX 2014</p>
      </div>
    </div>
  </div>
</section>
<section class="text-center padded waypoint-3">
  <div class="container hidden-element-3">
    <div class="row margin-bottom">
      <div class="col-sm-12">
        <h2>A smart investment in your future.</h2>
        <h4>Make the commitment. Get the results.</h4>
      </div>
    </div>
    <% big_alumni = [
      {name: "Oscar", photo: "oscar-wang", school: "Duke '16", ix: "iX '15", position: "Developer at Uber"},
      {name: "Kate", photo: "kate-ernst", school: "UMich '17", ix: "iX '15", position: "Developer at Apple"},
      
      {name: "Alex", photo: "alex-tenn", school: "Yale '16", ix: "iX '14", position: "Analyst at Blackrock"},
    ] %>
    <div class="row margin-top margin-bottom">
      <% big_alumni.each_with_index do |alum, index| %>
        <% klass = "" %>
        <% klass = "col-sm-offset-1 col-md-offset-0" if index == 0 %>
        <% klass = "hidden-sm" if index == 2 %>
        <div class="col-sm-5 col-md-4 <%= klass %>">
          <div class="impact-text-container">
            <div class="bg-overlay"></div>
            <%= image_tag "people/#{alum[:photo]}", class: "rounded" %>
            <div class="text-light text-left">
              <%= alum[:name] %>
              <br>
              <span class="small"><%= alum[:position] %></span>
              <br>
              <span class="small"><%= alum[:school] %></span>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row margin-top">
      <h4>Other alumni are at:</h4>
    </div>
    <% alumni = [
      {name: "Inesha", photo: "inesha-premaratne", school: "Harvard '15", ix: "iX '14", position: "Analyst at BCG"},
      {name: "Aryan", photo: "aryan-chhabria", school: "Brown '16", ix: "iX '15", position: "Engineer at Google"},
      {name: "Sabra", photo: "sabra-meretab", school: "Stanford '16", ix: "iX '14", position: "Analyst at Morgan Stanley"},
      {name: "Alex", photo: "alex-struck", school: "UVa '16", ix: "iX '14", position: "Analyst at McKinsey"},
      {name: "Zack", photo: "zack-chauvin", school: "Harvard '15", ix: "iX '14", position: "Engineer at Facebook"},
      {name: "Cameron", photo: "cameron-cross", school: "UVa '16", ix: "iX '14", position: "Consultant at Bain & Co"},
      {name: "Phoebe", photo: "phoebe-brown", school: "Princeton '16", ix: "iX '15", position: "Analyst at Ernest & Young"},
      {name: "Rachel", photo: "rachel-lee", school: "Stanford '17", ix: "iX '15", position: "Biz Dev at Upstart"},
      ]
    %>
    <% alumni.each_with_index do |alum, index| %>
    <%
      klass = case index 
      when 2 then "hidden-xs"
      when 3 then "hidden-xs hidden-sm"
      when 5 then "hidden-xs"
      when 6 then "hidden-xs"
      when 7 then "hidden-xs hidden-sm"
      else ""
      end
    %>
    <% if index == 0 || index == 4 %>
    <div class="row light text-left">
    <% end %>
      <div class="col-sm-4 col-md-3 margin-bottom <%= klass %>">
        <div class="rounded white-box">
          <div class="row">
            <div class="col-xs-4">
              <%= image_tag "people/#{alum[:photo]}", class: "full-rounded" %>
            </div>
            <div class="col-xs-8">
              <span><%= alum[:name] %></span><br>
              <p class="small"><%= alum[:school] %>, <%= alum[:ix] %></p>
              <span class="small b visible-xs"><%= alum[:position] %></span>
            </div>
            <div class="col-xs-12 hidden-xs">
              <span class="b text-center"><%= alum[:position] %></span>
            </div>
          </div>
        </div>
      <% if index == 3 || index == 7 %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</section>
<!-- Comparison -->
<section class="padded text-center bg-white waypoint-4">
  <div class="container hidden-element-4">
    <h2>Best in our class</h2>
    <h4 class="visible-xs">Slide right to see more</h4>
    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="pricing-comparison-table">
            <thead>
              <tr>
                <th></th>
                <th>Program</th>
                <th>Tuition</th>
                <th># Weeks</th>
                <th>Cost / week</th>
                <th>Housing</th>
                <th>Excursions</th>
                <th>Internship</th>
              </tr>
            </thead>
            <tbody>
              <% companies = [
                {
                  logo: "logos/ix-black", program: "Course + Internship",
                  tuition: "$8500",
                  weeks: "8", cost_week: "$1063", housing: true,
                  excursions: true, internship: true, link: false
                }, {
                  logo: "logos/yale-summer", program: "Summer Session Abroad",
                  tuition: "$9,655",
                  weeks: "5", cost_week: "$1931", housing: true,
                  excursions: true, internship: false, link: "http://studyabroad.yale.edu/sites/default/files/files/2015%20Budget_Prague%20-%20In%20Kafka's%20Spirit.pdf"
                }, {
                  logo: "logos/harvard-summer", program: "South Africa Summer",
                  tuition: "$10,000",
                  weeks: "8", cost_week: "$1250", housing: true,
                  excursions: true, internship: false, link: "http://www.summer.harvard.edu/study-abroad/south-africa"
                }, {
                  logo: "logos/general-assembly", program: "UX Immersive",
                  tuition: "$14,500",
                  weeks: "12", cost_week: "$1208", housing: false,
                  excursions: false, internship: false, link: "https://generalassemb.ly/education/data-science-immersive?where=new-york-city"
                }, {
                  logo: "logos/metis", program: "Data Science Bootcamp",
                  tuition: "$14,000",
                  weeks: "12", cost_week: "$1167", housing: false,
                  excursions: false, internship: false, link: "http://tradecrafted.com/"
                }, {
                  logo: "logos/training-the-street", program: "Corporate Valuation",
                  tuition: "$5,000",
                  weeks: "1", cost_week: "$5000", housing: false,
                  excursions: false, internship: false, link: "http://trainingthestreet.com/public_courses/corporate-valuation/"
                }, {
                  logo: "logos/makeschool", program: "iOS Summer Program",
                  tuition: "$7,000",
                  weeks: "7", cost_week: "$1000", housing: false,
                  excursions: false, internship: false, link: "https://www.makeschool.com/summer-academy/apps"
                }
              ] %>
              <% companies.each do |company| %>
              <tr>
                <td><%= image_tag company[:logo] %></td>
                <td>
                  <%= company[:program] %>
                  <% if company[:link] %>
                    <br>
                    <small>
                      <%= link_to "More info", company[:link], target: "blank" %>
                    </small>
                  <% end %>
                </td>
                <td><%= company[:tuition] %></td>
                <td><%= company[:weeks] %></td>
                <td><%= company[:cost_week] %></td>
                <td>
                  <% if company[:housing] %>
                  <i class="fa fa-check emphasis fa-lg"></i>
                  <% else %>
                  <i class="fa fa-close emphasis-pink"></i>
                  <% end %>
                </td>
                <td>
                  <% if company[:excursions] %>
                  <i class="fa fa-check emphasis fa-lg"></i>
                  <% else %>
                  <i class="fa fa-close emphasis-pink"></i>
                  <% end %>
                </td>
                <td>
                  <% if company[:internship] %>
                  <i class="fa fa-check emphasis fa-lg"></i>
                  <% else %>
                  <i class="fa fa-close emphasis-pink"></i>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Press -->
<section class="text-center padded">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-sm-12">
        <h2>As featured in</h2>
      </div>
    </div>
    <div class="row margin-top margin-bottom">
      <div class="col-sm-2 col-sm-offset-1">
        <%= link_to 'http://yaledailynews.com/blog/2015/11/22/alumni-company-ixperience-teaches-practical-career-skills/', target: 'blank' do %>
        <%= image_tag 'logos/yale-daily-news', class: 'company-logo press-logo' %>
        <% end %>
      </div>
      <div class="col-sm-2">
        <%= link_to 'https://www.michigandaily.com/article/ross-and-ixperience-host-interactive-startup-seminar', target: 'blank' do %>
        <%= image_tag 'logos/michigan-daily', class: 'company-logo press-logo' %>
        <% end %>
      </div>
      <div class="col-sm-1">
        <%= link_to 'http://gq.co.za/2015/09/should-you-be-coding/', target: 'blank' do %>
        <%= image_tag 'logos/gq', class: 'company-logo press-logo' %>
        <% end %>
      </div>
      <div class="col-sm-2 hidden-xs">
        <%= link_to 'http://ventureburn.com/2015/01/meet-ixperience-the-startup-thats-teaching-us-college-kids-how-to-code-in-africa/', target: 'blank' do %>
        <%= image_tag 'logos/ventureburn', class: 'company-logo press-logo' %>
        <% end %>
      </div>
      <div class="col-sm-3 hidden-xs">
        <%= link_to 'http://dailynorthwestern.com/2015/10/20/campus/south-african-ceo-shares-path-from-rural-origins-to-wall-street/', target: 'blank' do %>
        <%= image_tag 'logos/the-daily-northwestern', class: 'company-logo press-logo' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<%= render "partials/choose_course" %>
<%= render "partials/apply" %>