<!-- iOS -->
<section class="most-height bg-fixed bg-coding-ios-main">
  <a class="anchor" id="home"></a>
  <div class="bg-overlay"></div>
  <div class="main-headline text-center container">
    <h1>Put Joy in People's Hands.</h1>
    <h3>Master the mobile paradigm.</h3>
    <h3>Design beautiful experiences.</h3>
    <h3>Deploy your apps worldwide.</h3>
  </div>
</section>
<section class="text-center padded">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>A small window into a huge world.</h2>
        <h4>
          Catapult your programming powers to the <b>next level</b>. We'll teach you to <b>design and build beautiful, usable apps</b>, and get them into the hands of real users. 
          <br>
          Basic programming experience—and a Mac operating system—required. 
        </h4>
      </div>
    </div>
  </div>
</section>

<!-- Curriculum -->
<section class="text-center padded bg-white waypoint-1 hidden-element-1">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-sm-12">
        <h2>Meet your new toolkit.</h2>
        <h4>A curriculum to give your ideas life.</h4>
      </div>
    </div>
    <div class="row margin-bottom">
      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Build Tons of Apps</h5>
        <%= image_tag 'skills/build', class: 'sized-img small-margin' %>
        <p>
          Learning happens by doing. We'll have you building. And building. And building.
        </p>
      </div>
      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Objective-C and Swift</h5>
        <%= image_tag 'skills/swift', class: 'sized-img small-margin' %>
        <p>
          You already know the basics, we'll hone your skills in the essential languages. 
        </p>
      </div>
      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">iPhone Hardware</h5>
        <%= image_tag 'skills/hardware', class: 'sized-img small-margin' %>
        <p>
          Harness the full power of iPhone: image-processing, detecting acceleration, locating with GPS...
        </p>
      </div>
      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">App Architecture</h5>
        <%= image_tag 'skills/app-architecture', class: 'sized-img small-margin' %>
        <p>
          Sturdy apps start with sturdy foundations. Learn the ins and outs of app logic, computational thinking, and MVC.
        </p>
      </div>

      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Testing</h5>
        <%= image_tag 'skills/testing', class: 'sized-img small-margin' %>
        <p>
          Real coders use tests. Gain the confidence in knowing your code is bullet-proof. 
        </p>
      </div>
      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Design Principles</h5>
        <%= image_tag 'skills/design-principles', class: 'sized-img small-margin' %>
        <p>
          The biggest reason the best apps are so lovable: great design. Immerse yourself in the same process that makes the App Store's best so fun to use—and so profitable.
        </p>
      </div>

      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Agile Development</h5>
        <%= image_tag 'skills/agile', class: 'sized-img small-margin' %>
        <p>
          Work with diverse teams with focus, speed, and unparalleled efficiency.
        </p>
      </div>
      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Work Experience</h5>
        <%= image_tag 'skills/work-experience', class: 'sized-img small-margin' %>
        <p>Applying what you've learned is where you will gain a real competitive edge. Your one-month internship will give you exactly that.</p>
      </div>
    </div>
    
    <%= render "partials/curriculum_download", course: "iOS Development" %>
  </div>
</section>

<%= render "internships_no_logos" %>

<section class="text-center bg-fixed bg-coding-ios-mid most-height">
  <div class="bg-overlay"></div>
  <div class="image-quote-container">
    <div class="image-quote">
      <h4 class="quote">iX was a unique mix of efficient learning, bonding with <span class="emphasis">new, talented people</span>, and seeking out new experiences at every corner.</h4>
      <p class="author">Christopher Cahill, UPenn '18, iX '15</p>
    </div>
  </div>
</section>    

<%= render "partials/testimonials", initial_testimonial: 9 %>
<%= render 'partials/tuition', course_data: @course_data %>
<%= render "partials/apply" %>
<%= render 'partials/optinmonster_dialog', optin_code: @course_data[:optin_code], optin_number: @course_data[:optin_number] %>