<!-- Home -->
<section class="most-height bg-fixed bg-coding-main">
  <a class="anchor" id="home"></a>
  <div class="bg-overlay"></div>
  <div class="main-headline text-center container">
    <h1>Code Moves <br class="visible-xs"> the World.</h1>
    <h3>Get an edge in any career.</h3>
    <h3>Diversify your skillset.</h3>
    <h3>Feel the power at your fingertips.</h3>
  </div>
</section>
<section class="text-center padded bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>Two Courses. <br class="visible-xs"> One Mission.</h2>
        <h4>
          iXperience offers two coding courses: <b>Web Development</b> and <b>iOS Development</b> (how to build iPhone apps). No matter which course you take, you'll <b>build a real product</b> that people will love to use. 
        </h4>
      </div>
    </div>
  </div>
</section>
<!-- Choose -->
<section class="text-center padded waypoint-1 hidden-element-1">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-sm-12">
        <h2>
          A plan
          <br class="visible-xs">
          for everyone.
        </h2>
        <h4>Choose the course that fits your experience.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row margin-bottom">
          <div class="col-sm-6 margin-bottom">
            <div class="pillar">
              <%= link_to course_path("coding-web-dev") do %>
                <div class="impact-text-container hover">
                  <div class="bg-overlay dark"></div>
                  <%= image_tag "home/courses-coding-web-dev" %>
                  <div class="text">WEB DEV</div>
                </div>
              <% end %>
              <div class="pillar-inner">
                <dl>
                  <dt>No experience required<br><br></dt>
                  <dd>Learn AngularJS, HTML, CSS</dd>
                  <dd>For any major</dd>
                </dl>
              </div>
              <%= link_to course_path("coding-web-dev") do %>
                <div class="btn btn-block btn-primary btn-lg">More about Web Dev</div>
              <% end %>
            </div>
          </div>
          <div class="col-sm-6 margin-bottom">
            <div class="pillar">

              <%= link_to course_path("coding-ios") do %>
                <div class="impact-text-container hover">
                  <div class="bg-overlay dark"></div>
                  <%= image_tag "home/courses-coding-ios" %>
                  <div class="text">iOS</div>
                </div>
              <% end %>
              <div class="pillar-inner">
                <dl>
                  <dt>
                    Basic coding experience required
                    <br>
                    <small>(CS 101 or equivalent)</small>
                  </dt>
                  <dd>Learn Objective-C, Swift, Cocoa</dd>
                  <dd>For any major</dd>
                </dl>
              </div>
              <%= link_to course_path("coding-ios") do %>
                <div class="btn btn-block btn-info btn-lg">More about iOS</div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p class="big">
              Can't choose? Use the chat bubble at the bottom right to get some advice!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "partials/testimonials", initial_testimonial: 0 %>
<%= render 'partials/tuition', course_data: @course_data %>
<%= render "partials/apply" %>