<!-- Consulting -->
<section class="most-height bg-fixed bg-gradient bg-consulting-main">
  <a class="anchor" id="home"></a>
  <div class="bg-overlay"></div>
  <div class="main-headline text-center container">
    <h1>Revamp Industries.</h1>
    <h3>Influence others to action.</h3>
    <h3>Master the consulting toolkit.</h3>
    <h3>Solve complex problems.</h3>
  </div>
</section>
<section class="text-center padded">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>A one-of-a-kind advantage.</h2>
        <h4>
          Gain the upper hand in a cut-throat interview process. We'll <b>hone your consulting mindset</b> and train you to <b>enhance high-profile companies</b> through the world's only consulting bootcamp. 
        </h4>
      </div>
    </div>
  </div>
</section>

<!-- Curriculum -->
<section class="text-center padded bg-white waypoint-1 hidden-element-1">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-sm-12">
        <h2>Meet your new toolkit.</h2>
        <h4>A curriculum to sharpen your mind.</h4>
      </div>
    </div>
    <div class="row margin-bottom">
      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Market Sizing</h5>
        <%= image_tag 'skills/valuation', class: 'sized-img small-margin' %>
        <p>
          What's sold in a market, who the customers are, and which competitors are in play. Ask any MBA consultant, and they could nail this. You will too.
        </p>
      </div>
      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Competitor Analysis</h5>
        <%= image_tag 'skills/business-models', class: 'sized-img small-margin' %>
        <p>
          Top consulting firms spend tremendous amounts of time reviewing competitors' moves and strategies to advise massive multinationals.
        </p>
      </div>

      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">M&amp;A Strategic Toolkit</h5>
        <%= image_tag 'skills/handshake', class: 'sized-img small-margin' %>
        <p>Buyouts and funding deals are complex: private equity firms and hedge funds rely on consultants for buy-side support. Learn how buyers think.</p>
      </div>

      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Profitability Analysis</h5>
        <%= image_tag 'skills/dollar', class: 'sized-img small-margin' %>
        <p>Every business decision comes down to profit – a decision tool you can spend your entire life working to truly understand. In a month, you’ll make major headway.</p>
      </div>
      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Strategy Presentations</h5>
        <%= image_tag 'skills/presentations', class: 'sized-img small-margin' %>
        <p>As an external advisor, you have to convince a client of your work's value. You’ll do presentations—lots of them—as you master key strategy concepts.</p>
      </div>
      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Resumé Workshops</h5>
        <%= image_tag 'skills/resume', class: 'sized-img small-margin' %>
        <p>Build an impressive resumé through hands on workshops and ongoing support after you graduate the iXperience program.</p>
      </div>
      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Interview Training</h5>
        <%= image_tag 'skills/applied-learnings', class: 'sized-img small-margin' %>
        <p>A job-acquisition key hurdle is the case interview—a mock business problem / quantitative oral exam. We’ll deconstruct cases and make you a rockstar.</p>
      </div>
      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Work Experience</h5>
        <%= image_tag 'skills/work-experience', class: 'sized-img small-margin' %>
        <p>Applying what you've learned is where you will gain the real skills and competitive edge. Working on real cases during your one month internship will give you exactly that.</p>
      </div>
    </div>

    <%= render "partials/curriculum_download", course: "Management Consulting" %>
  </div>
</section>

<!-- Projects -->
<!-- <section class="text-center">
  <div class="wrapper bg-white">  
    <div class="container story">     
      <div class="row">
        <div class="col-sm-12">
          <h2>THE Projects</h2>
          <div class="black-underline"><hr /></div>
          <h3>The best way to learn is by doing. We will have you coding, and coding and coding!</h3>
        </div>
      </div>

      <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/bootstrap/images/slide1" alt="First slide">
        </div>
        <div class="item">
          <img src="/bootstrap/images/slide2" alt="Second slide">
        </div>
        <div class="item">
         <img src="/bootstrap/images/slide3" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>   
  </div>
</section> -->
<!-- Internships -->
<section class="text-center padded"> 
  <div class="container">     
    <div class="row margin-bottom">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>
          Don't just learn.
          <br class="visible-xs">
          Do something.
        </h2>
        <h4 class="margin-bottom">
          After your course, you'll <b>revamp your resume</b> with an internship at a top local company. Based on your class performance and fit, we'll match you with an opportunity to <b>maximize your impact and professional growth</b>. 
        </h4>
      </div>
    </div>
    <div class="row waypoint-3 hidden-element-3 margin-bottom">
      <div class="col-company-logo margin-bottom">
        <%= image_tag 'logos/uber', class: 'company-logo margin-top' %>
      </div>
      <div class="col-company-logo margin-bottom">
        <%= image_tag 'logos/groupon', class: 'company-logo' %>
      </div>
      <div class="col-company-logo margin-bottom">
        <%= image_tag 'logos/accenture', class: 'company-logo' %>
      </div>
      <div class="col-company-logo margin-bottom">
        <%= image_tag 'logos/mb-vermeer', class: 'company-logo margin-top' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <p>
          (These are companies we've worked with in the past—our partners may change from year to year.)
        </p>
      </div>
    </div>
  </div>
</section> 

<section class="text-center bg-fixed bg-consulting-mid most-height">
  <div class="bg-overlay"></div>
  <div class="image-quote-container">
    <div class="image-quote">
      <h4 class="quote">iXperience gives students a taster of what it means to be a management consultant, through <span class="emphasis">hands-on, real-life case work.</span></h4>
      <p class="author">Dennis van den Berg – Senior Consultant, MB Vermeer</p>
    </div>
  </div>
</section>    

<%= render "partials/testimonials", initial_testimonial: 3 %>
<%= render 'partials/tuition', course_data: @course_data %>
<%= render "partials/apply" %>
<%= render 'partials/optinmonster_dialog', optin_code: @course_data[:optin_code], optin_number: @course_data[:optin_number] %>