<!-- Finance -->
<section class="most-height bg-fixed bg-finance-main">
  <a class="anchor" id="home"></a>
  <div class="bg-overlay"></div>
  <div class="main-headline text-center container">
    <h1>Invest like a pro.</h1>
    <h3>Build a killer portfolio.</h3>
    <h3>Deconstruct complex businesses.</h3>
    <h3>Become an Excel ninja.</h3>
  </div>
</section>
<section class="text-center padded">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>A lion's view of the financial world.</h2>
        <h4>
          Get your first taste of Wall Street—we'll teach you to <b>run with investors and hiring managers</b> alike. Then refine your new skills <b>balancing risk, building models, and investing wisely</b> at an epic internship.
        </h4>
      </div>
    </div>
  </div>
</section>

<!-- Curriculum -->
<section class="text-center padded bg-white hidden-element-1 waypoint-1">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-sm-12">
        <h2>Meet your new toolkit.</h2>
        <h4>A curriculum to give your ideas life.</h4>
      </div>
    </div>
    <div class="row margin-bottom">
      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Financial Statements</h5>
        <%= image_tag 'skills/financial-statements', class: 'sized-img small-margin' %>
        <p>
          Core fundamental skills to the world of finance which you will master by the end of this program.
        </p>
      </div>
      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Business Models</h5>
        <%= image_tag 'skills/business-models', class: 'sized-img small-margin' %>
        <p>
          Emphasis on the three critical elements (momentum, efficiency and cash conversion) applied to the 4 major company types.
        </p>
      </div>

      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Excel Excellence</h5>
        <%= image_tag 'skills/excel', class: 'sized-img small-margin' %>
        <p>
          Must know elements for excel, including arrays, reference functions, conditional formulas and others.
        </p>
      </div>

      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Financial Modeling</h5>
        <%= image_tag 'skills/dollar', class: 'sized-img small-margin' %>
        <p>
          Analyses of companies such as Chipotle (B2C-retail), Netflix (B2C-subscription), Facebook (B2CB), Salesforce (B2B) and AirBnB (2SM).
        </p>
      </div>
      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Valuation Analysis</h5>
        <%= image_tag 'skills/valuation', class: 'sized-img small-margin' %>
        <p>
          One of the core duties of an investor, as valuations are typically the most important long term drivers of asset prices.
        </p>
      </div>

      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Applied Learnings</h5>
        <%= image_tag 'skills/applied-learnings', class: 'sized-img small-margin' %>
        <p>
          Students pitch their best investment ideas, supported by financial models and valuation analyses.
        </p>
      </div>

      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Resume Workshops</h5>
        <%= image_tag 'skills/resume', class: 'sized-img small-margin' %>
        <p>Build an impressive resume through hands on workshops and ongoing support after you graduate from iXperience.</p>
      </div>

      <div class="col-sm-3 bordered-cell curriculum-cell">
        <h5 class="b">Work Experience</h5>
        <%= image_tag 'skills/work-experience', class: 'sized-img small-margin' %>
        <p>Applying what you've learned is where you will gain a real competitive edge. Your one-month internship will give you exactly that.</p>
      </div>
    </div>

    <%= render "partials/curriculum_download", course: "Wall St. Finance" %>
  </div>
</section>

<!-- Projects -->
<!-- <section class="text-center">
  <div class="wrapper bg-white">  
    <div class="container story">     
      <div class="row">
        <div class="col-sm-12">
          <h2>THE Projects</h2>
          <div class="black-underline"><hr /></div>
          <h3>The best way to learn is by doing. We will have you coding, and coding and coding!</h3>
        </div>
      </div>

      <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/bootstrap/images/slide1" alt="First slide">
        </div>
        <div class="item">
          <img src="/bootstrap/images/slide2" alt="Second slide">
        </div>
        <div class="item">
         <img src="/bootstrap/images/slide3" alt="Third slide">
        </div>
      </div>
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>   
  </div>
</section> -->

<!-- Internships -->
<section class="text-center padded"> 
  <div class="container">     
    <div class="row margin-bottom">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>
          Don't just learn.
          <br class="visible-xs">
          Do something.
        </h2>
        <h4 class="margin-bottom">
          After your course, you'll <b>revamp your resume</b> with an internship at a top local company. Based on your class performance and fit, we'll match you with an opportunity to <b>maximize your impact and professional growth</b>. 
        </h4>
      </div>
    </div>
    <div class="row waypoint-3 hidden-element-3 margin-bottom">
      <div class="col-company-logo margin-bottom">
        <%= image_tag 'logos/nimble', class: 'company-logo' %>
      </div>
      <div class="col-company-logo margin-bottom">
        <%= image_tag 'logos/accenture', class: 'company-logo' %>
      </div>
      <div class="col-company-logo margin-bottom">
        <%= image_tag 'logos/socialalpha', class: 'company-logo' %>
      </div>
      <div class="col-company-logo margin-bottom">
        <%= image_tag 'logos/silvertree', class: 'company-logo' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <p>
          (These are companies we've worked with in the past—our partners may change from year to year.)
        </p>
      </div>
    </div>
  </div>
</section> 

<section class="text-center bg-fixed bg-finance-mid most-height">
  <div class="bg-overlay"></div>
  <div class="image-quote-container">
    <div class="image-quote">
      <h4 class="quote"><span class="emphasis">It has been a pleasure working with iXperience interns.</span> Great attitude, good questions and ultimately useful progress on some important content.</h4>
      <p class="author">Wayne Borchardt – Managing Director, Accenture</p>
    </div>
  </div>
</section>    

<%= render "partials/testimonials", initial_testimonial: 6 %>
<%= render 'partials/tuition', course_data: @course_data %>
<%= render "partials/apply" %>
<%= render 'partials/optinmonster_dialog', optin_code: @course_data[:optin_code], optin_number: @course_data[:optin_number] %>