<!-- Product Management -->
<section class="most-height bg-fixed bg-product-management-main">
  <a class="anchor" id="home"></a>
  <div class="bg-overlay"></div>
  <div class="main-headline text-center container">
    <h1>Build Revolutionary Products.</h1>
    <h3>Understand the full tech stack.</h3>
    <h3>Maximize business value.</h3>
    <h3>Drive teams to success.</h3>
  </div>
</section>
<section class="text-center padded">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>Become a company's guiding light.</h2>
        <h4 class="margin-bottom">
          Product managers are the glue that hold teams together, their guiding light, the wind at their backs. Learn to <b>envision the future, craft actionable plans, and ship game-changing products</b> to market. 
        </h4>
      </div>
    </div>
  </div>
</section>

<!-- Curriculum -->
<section class="text-center padded bg-white waypoint-1 hidden-element-1">
  <div class="container">
    <div class="row margin-bottom">
      <div class="col-sm-12">
        <h2>Meet your new toolkit.</h2>
        <h4>A curriculum to give your ideas life.</h4>
      </div>
    </div>
    <%= render "partials/curricula/product_management" %>
  </div>
</section>

<%= render "internships_no_logos" %>

<section class="text-center bg-fixed bg-product-management-mid most-height">
  <div class="bg-overlay"></div>
  <div class="image-quote-container">
    <div class="image-quote">
      <h4 class="quote">This was <span class="emphasis">the best summer/intern/study abroad ever</span>. iX is an incredible opportunity to learn how to make amazing stuff, better than half the nonsense you see on the web.</h4>
      <p class="author">Alex Tenn, Yale 2015, iX 2014</p>
    </div>
  </div>
</section>    

<%= render "partials/testimonials", initial_testimonial: 4 %>
<%= render 'partials/tuition', course_data: @course_data %>
<%= render "partials/apply" %>
<%= render 'partials/optinmonster_dialog', optin_code: @course_data[:optin_code], optin_number: @course_data[:optin_number] %>