<section class="text-center padded waypoint-3 hidden-element-3 "> 
  <div class="container">     
    <div class="row margin-bottom">
      <div class="col-sm-10 col-sm-offset-1">
        <h2>
          Don't just learn.
          <br class="visible-xs">
          Do something.
        </h2>
        <h4 class="margin-bottom">
          After your course, you'll <b>revamp your resume</b> with an internship at a top local company. <span class="hidden-xs">Based on your class performance and fit, we'll match you with an opportunity to <b>maximize your impact and professional growth</b>.</span>
        </h4>
      </div>
    </div>
    <div class="row waypoint-3 hidden-element-3 margin-bottom">
      <div class="col-company-logo margin-bottom">
        <%= image_tag 'logos/nimble', class: 'company-logo' %>
      </div>
      <div class="col-company-logo margin-bottom">
        <%= image_tag 'logos/accenture', class: 'company-logo' %>
      </div>
      <div class="col-company-logo margin-bottom">
        <%= image_tag 'logos/socialalpha', class: 'company-logo' %>
      </div>
      <div class="col-company-logo margin-bottom">
        <%= image_tag 'logos/silvertree', class: 'company-logo' %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <p>
          (These are some companies we've worked with in the past—our partners may change from year to year.)
        </p>
        <p class="hidden-xs">
          For more info on the internship, check out our <%= link_to 'FAQs', faq_path %>.
        </p>
      </div>
    </div>
  </div>
</section>