<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>iXperience Capital</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="description" content="iX Capital">
  <link rel="image_src" href="<%= image_url 'img-src' %>"/>
  <!-- Facebook OG Tags -->
  <!-- https://developers.facebook.com/docs/sharing/best-practices#tags -->
  <meta property="og:title" content="iX Capital invests in smart people who have the vision to solve difficult problems" />
  <meta property="og:site_name" content="iX Capital"/>
  <meta property="og:url" content="http://capital.ixperience.co.za" />
  <meta property="og:description" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:image" content="<%= image_url 'img-src' %>" />

  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tags %>
  
  <!-- Google apps verification code -->
  <meta name="google-site-verification" content="6zKz0HljMTMWBFKpL6juDVVDasRKVdRKKvE7QXS4sKQ" />
</head>
<body class="page-green hidden-body">
  <%= render "partials/mobile_nav" %>
  <div class="mobile-wrapper mobile-nav-js">
    <%= render "partials/nav" %>
    <%= yield %>
    <%= render "partials/footer" %>
  </div>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jpreLoader" %>
  <%= yield :javascript %>

  <!-- Lazyloader for alumni page. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
</body>
</html>
